.login-employe{
    width: 50%;
    box-sizing:border-box;
    border:1px solid #d9d9d9;
    margin: 5px;
    padding: 15px;
}

.login-student{
    width: 50%;
    box-sizing:border-box;
    border:1px solid #d9d9d9;
    margin: 5px;
    padding: 15px;
}

.login-menu{
    border:1px solid #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;

    /*Esto es para centrar el div
    NO MOVER PORQUE LUEGO NO FUNCIONA*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
}