.contenedor{
    padding: 50px;
    background-image: url("../IMAGES/bkg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content:center;
    align-items: center;
}

.login-view{
    padding: 10px;
    background-color: rgba(230, 112, 57, 0.938);
    border-radius: 10px;
    border-style: outset;
    display: flex;
    justify-content:center;
    align-items: center;
    width: 60%;
}

fieldset{
    border-color: darkcyan;
}

body{
    padding: 0%;
    font-family: sans-serif;
    color:white;
}

a{
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}
  
a:link {
    color: rgb(228, 100, 41);
}
  
a:focus {
    border-bottom: 1px solid;
    background: rgb(230, 112, 57);
}
  
a:hover {
    border-bottom: 1px solid;
    background: rgb(230, 112, 57);
}
  
a:active {
    background: rgb(228, 100, 41);
    color:rgb(230, 112, 57);
}

a:visited{
    color: white;
}